Source/EPBPayslipDemo/packages/
Source/App/packages/
Source/App/Server.Tests/bin/
Source/App/Server/bin/
Source/App/RequestModel/obj/
Source/App/Model/obj/
Source/App/Server.Tests/obj/
Source/App/Repository/obj/
Source/App/Repository/bin/
Source/App/Repository.Tests/obj/
Source/App/Service/bin/
Source/App/Service.Tests/obj/
Source/App/Server/obj/
Source/App/Service/obj/
Source/App/ViewModel/obj/
Source/App/Model/bin/
Source/App/ViewModel/bin/
Source/App/Service.Tests/bin/
Source/App/Repository.Tests/bin/
Source/App/RequestModel/bin/
Source/RnD/Brcode/Brcode/obj/
Source/RnD/Brcode/Brcode/bin/
Source/RnD/Brcode/Brcode.WinForm/bin/
Source/RnD/Brcode/Brcode.WinForm/obj/
Source/App/Server/Barcodes/
Source/RnD/Brcode/packages/
Source/MigrationTools/ExporterDataMigration/GspDataAccess/obj/
Source/MigrationTools/ExporterDataMigration/PayslipDataAccess/obj/
Source/MigrationTools/ExporterDataMigration/MigrateExporteFromGsp/bin/Debug/Log/
Source/App/Server/Properties/PublishProfiles/Server.pubxml.user
Source/MigrationTools/ExporterDataMigration/.vs/
Source/App/Server/tmp3FCD.tmp
Source/App/.vs/
Source/App/Client/dist/
Source/App/Server/Upload/
