<div class="modal-header">
    <h3 class="modal-title">All Service Print Preview</h3>
</div>
<div class="modal-body" id="printable" style="padding:0 !important;">

    <div ng-repeat="l in printableData">

        <div class="row" style="font-size: 13px">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;"><strong>Export Promotion Bureau - EPB Copy</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span style="font-size: 14px;">Exporter Name: <strong>{{data.Exporter.CompanyOrFactoryName}}</strong></span><br />
                        <span style="font-size: 15px;">Service: {{getObject(l.ServiceTypeId, 'Id', data.ServiceTypes).Name}} {{getObject(l.ServiceIssueTypeId, 'Id', data.ServiceIssueTypes).Name}} ({{l.ServiceHour}} Hours)</span>
                    </div>
                    <div class="col-xs-6">
                        Request ID: {{data.PayslipRequestId}} <br/>
                        Payslip: <span style="font-size:12px">{{l.BarcodeNumber}}</span><br/>
                        <!--Payslip: {{l.PayslipNumber}} <br/>-->
                        Exporter No: <strong>{{data.Exporter.ExporterNumber}}</strong> <br/>
                        <!--Exporter Name: {{data.Exporter.CompanyOrFactoryName}}-->
                        Printing Date: {{data.today | date}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Quantity: {{l.Quantity}}
                    </div>
                    <div class="col-xs-6">
                        Cost: {{l.ServiceAmount | currency : 'BDT '}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img ng-src="{{serverUrl + l.BarcodeImageUrl}}" width="100%" alt="barcode" />
                    </div>
                </div>
                <div class="row" style="margin-left: 0;">
                    <div class="col-xs-6">
                        Current Balance: {{data.Exporter.CurrentBalance}}<br />
                        <span style="font-size: 10px;">Verified by: {{user.UserName}}</span><br />
                        <code><span style="font-size: 10px;">Developed by: Index IA Ltd. (www.indexcap.com)</span></code>
                    </div>
                    <div class="col-xs-6">
                        Signature (EPB Office)
                        <div style="margin-top: 40px;">
                            ___________________________
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;"><strong>Export Promotion Bureau - Exporter Copy</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        TCB Bhaban, 1 Kawran Bazar <br />
                        Dhaka-1215 <br />
                        Printing Date: {{data.today | date}}
                    </div>
                    <div class="col-xs-6">
                        Request ID: {{data.PayslipRequestId}} <br/>
                        Payslip: <span style="font-size:12px">{{l.BarcodeNumber}}</span><br/>
                        <!--Payslip: {{l.PayslipNumber}} <br/>-->
                        Exporter No: <strong>{{data.Exporter.ExporterNumber}}</strong>
                        <!--Exporter Name: {{data.Exporter.CompanyOrFactoryName}}-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span style="font-size: 14px;">Exporter Name: <strong>{{data.Exporter.CompanyOrFactoryName}}</strong></span><br />
                        <span style="font-size: 12px;">Service: {{getObject(l.ServiceTypeId, 'Id', data.ServiceTypes).Name}} {{getObject(l.ServiceIssueTypeId, 'Id', data.ServiceIssueTypes).Name}} ({{l.ServiceHour}} Hours)</span><br />
                    </div>
                    <div class="col-xs-6">
                        Quantity: {{l.Quantity}} <br />
                        Cost: {{l.ServiceAmount | currency : 'BDT '}}
                    </div>
                </div>
                <div class="row" style="margin-left: 0; margin-top: 60px;">
                    <div class="col-xs-6">
                        Current Balance: {{data.Exporter.CurrentBalance}}<br />
                        <span style="font-size: 12px;">Verified by: {{user.UserName}}</span><br />
                        <code><span style="font-size: 12px;">Developed by: Index IA Ltd. (www.indexcap.com)</span></code>
                    </div>
                    <div class="col-xs-6">
                        Signature (EPB Office)
                        <div style="margin-top: 40px;">
                            ___________________________
                        </div>
                    </div>
                </div>

            </div>
        </div>
		<br />
        <hr/>
		<br />
        <div ng-if="($index + 1)%3 === 0" style="page-break-after: always;"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" type="button" ng-click="printAllWithEpbServiceUpdate('printable')">Print</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>