<!--<script type="text/ng-template" id="roleDeleteModalContent.html">-->
<div class="modal-header" style="text-align: center">
    <h3 class="modal-title">Please Confirm</h3>
</div>
<div class="modal-body">
    <h4 style="text-align: center;color:red"><strong>Are you sure you want to {{action}} this !!! </strong>      <strong style="color: blueviolet">{{data.Name}} </strong></h4>
</div>
<div class="modal-footer">
    <button class="btn btn-success pull-right" type="button" ng-click="ok()">Yes</button>
    <button class="btn btn-warning pull-right" type="button" ng-click="cancel()" style="margin-right:5px">Close</button>
</div>
<!--</script>-->
