<div class="row">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row container-fluid">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title text-center">Dashboard</div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <form>
                                <div class="col-sm-4">
                                    <input type="search" name="Search" ng-model="SearchKey" class="form-control" placeholder="Search by Transection Id, Exp. No, Exporter Name, Request Id" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success"><span class="glyphicon glyphicon-search text-center"></span></button>
                                </div>
                            </form>
                            <div class="col-sm-2">
                                <select class="form-control" name="filter">
                                    <option value="0">All</option>
                                    <option value="1">Requested</option>
                                    <option value="2">Accepted</option>
                                    <option value="3">Rejected</option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-info" ui-sref="service.form"><span class="glyphicon glyphicon-plus"></span> Service</a>
                                <a class="btn btn-primary" ui-sref="account.form">Account</a>
                                <a class="btn btn-primary" ng-show="user.Username=='admin'" ui-sref="import">Import</a>
                                <a class="btn btn-primary" ui-sref="report">Report</a>
                            </div>
                        </div>

                        <br/>

                        <section class="row container-fluid">
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </section>

                    </div>

                    <div class="panel-footer">
                        <nav>
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>                   

                </div>
            </div>            

            <br/>
            <br/>
            <br/>

        </div>


    </div>    

</div>