
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading text-center">Import Transaction List (Excel/CSV)</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="file">Select Flle:</label>
                        <input type="file" class="form-control" id="file" name="file">
                    </div>
                </div>
                <div class="col-sm-3">
                    <br />
                    <a ui-sref="import-result" class="btn btn-success" role="button">Upload</a>
                </div>
            </div>

        </div>
    </div>

</div>
